//COLORS
$color-primary: rgba(235, 77, 75, 1);
$color-secondary-1: rgba(27, 156, 252, 1);
$color-secondary-2: rgba(106, 176, 76, 1);
$color-secondary-3: rgba(245, 59, 87, 1);
$color-secondary-4: rgba(30, 39, 46, 1);
$color-secondary-5: rgba(190, 46, 221, 1);
$color-secondary-6: rgba(39, 174, 96, 1);

// $color-grey-light-1: rgba(180, 196, 206, 0.22);
$color-grey-light-1: rgba(180, 196, 206, 0.1);
$color-grey-light-2: rgba(97, 116, 141, 1);
$color-grey-dark: rgba(32, 33, 36, 1);

$color-blue2: rgba(0, 151, 230, 1);
$color-blue3: rgb(1, 102, 153);

//FONTS
$font-primary: ' Lato ', sans-serif;

//OUTLINES
$outline: 1.5px rgb(190, 190, 190) solid;
$outline-light: 1.5px rgba(190, 190, 190, 0.3) solid;
$outline-light-2: 1px rgba($color-secondary-6, 1) solid;

$shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 0.5rem 1rem rgba(#333, 0.1);

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 56.25em; // 900px;
$bp-small: 37.5em; // 600px;
