//COLORS
$color-primary: rgba(52, 73, 94, 1);
$color-secondary: rgba(149, 175, 192, 1);
$color-tertiary: rgba(83, 92, 104, 1);
$color-blue: rgba(0, 168, 255, 1);
$color-blue2: rgba(0, 151, 230, 1);
$color-blue3: rgba(27, 156, 252, 1);

//FONTS
$font-primary: 'font-family: ' Lato ', sans-serif;';
