//COLORS
$color-grey-light-1: #b4c4ce38;
// $color-grey-light-2: #f4f2f2;
// $color-grey-light-3: #f0eeee;
// $color-grey-light-4: #ccc;
$color-grey-light-2: rgb(97, 116, 141);
$color-grey-dark: #202124;
$color-blue: rgba(0, 168, 255, 1);
$color-blue2: rgba(0, 151, 230, 1);
$color-blue3: rgba(27, 156, 252, 1);

//FONTS
$font-primary: 'font-family: ' Lato ', sans-serif;';

//OUTLINES
$outline: 1.5px rgb(190, 190, 190) solid;

$shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

//#5f6368
//#202124
